<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pizza Place 🍕 </title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <!--myCart CSS-->
  <link rel="stylesheet" href="/styles/mycart.css" type="text/css" />


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!--JS-->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <!-- APP.JS -->
  <script type="text/javascript" src="/scripts/app.js"></script>
  <!-- TEST JS -->
  <script type="text/javascript" src="/scripts/test.js"></script>


</head>

<body>

  <%- include('./partials/_nav'); %>

  <div class="notification">
<<<<<<< HEAD
    <!-- <div class="one-notification">
      <div class="notification-text">
        <span>Hello <span>Kira,</span></span>
        <p>Your order <span>(#order_id)</span> is being processed. The estimated time for pick up is in <span>30</span> minutes. We will notify you again once the food is ready! See you soon!</p>
      </div>
      <footer>
        <button class="ok-btn">OK</button>
      </footer>
    </div> -->
=======
    <!-- Notifications get appended here -->
>>>>>>> master
  </div>

  <div class="menu-cart">

    <main class="container">
      <h1>Our Menu:</h1>

      <% for (let food_item of food_items) {%>
        <div class="card mb-3">
          <div class="row foodEntity">
            <div class="col-4">
              <img src="<%= food_item.img_url %>" alt="" class="img-fluid foodImage pizza-img">
              <!-- <img src="https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" alt="" class="img-fluid foodImage pizza-img"> -->
            </div>
            <div class="col-8">
              <div class="card-body">
                <h4 class="card-title foodName"><%= food_item.name %></h4>
                <h4 style="display:none" class="foodId" ><%= food_item.id %></h4>
                <p class="card-text"><%= food_item.description %></p>
                <h4 class="card-text text-end font-italic price">$<%= food_item.price_in_cents / 100 %></h4>
                <div>
                  <button class="add-btn">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </main>

      <aside class="cart">
        <h3 id="cart-header">My Cart</h3>

        <div class="cart-title">
          <span>Item</span>
          <span>Price/Item</span>
          <span>Quantity</span>
        </div>

        <!--CART LIST ROWS-->
        <div id="cartList">
        </div>

        <!--SUBTOTAL, TAX, TOTAL-->
        <div class="math">
          <div>
            <span class="bold">Subtotal:</span>
            <span id="subtotal">$0</span>
          </div>
          <div>
            <span class="bold">Tax (HST 13%): </span>
            <span id="tax">$0</span>
          </div>
          <div>
            <span class="bold">Total: </span>
            <span id="total">$0</span>
          </div>
        </div>
        <div class="note-checkout">
          <div class="note"><span>Add Note:</span>
            <form>
              <textarea id="note" name="note"></textarea>
            </form>
          </div>
          <div class="checkout">
            <button id="checkout-btn">Checkout</button>
          </div>
        </div>
      </div>
  </aside>

  <!--BOOTSTRAP-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  <!--SOCKET IO-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.js" integrity="sha512-nYuHvSAhY5lFZ4ixSViOwsEKFvlxHMU2NHts1ILuJgOS6ptUmAGt/0i5czIgMOahKZ6JN84YFDA+mCdky7dD8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<<<<<<< HEAD
  <script>
    const socket = io("ws://localhost:3000");
    socket.on('connect', () => {
      //below is displayed on browser console
      console.log("index.ejs is connected ->")
    })
    socket.on("time-message", (data) => {
      //visible on browser console only
      console.log("REEEEEACCCCHED")
      console.log("data passed in here on index.ejs line 125--", data)

      const okBtn = (event) => {
        let okBtnClicked = $(event.target);
        let notificationClicked = okBtnClicked.closest(".one-notification").remove();
      }

      const newNotification = function(newNotificationObj) {
        return`<div class="one-notification">
               <div class="notification-text">
              <span>Hello!</span>
              <p>Your order #<span>${newNotificationObj.cartId}</span> is being processed. The estimated time for pick up is in <span>${newNotificationObj.time}</span> minutes. We will notify you again once the food is ready! See you soon!</p>
            </div>
            <footer>
              <button class="ok-btn">OK</button>
            </footer>
          </div>
         `
      }

      // console.log("newNotification(data)")
      // console.log(newNotification(data));
      $(".notification").prepend(newNotification(data));

      // 'activates submit button when clicked'
      $(".one-notification").find(".ok-btn").on("click", okBtn)
    })

    socket.on("orderCompleted", (data) => {

      console.log("orderCompleted data passed in here on index.ejs line 156--", data)

      const okBtn = (event) => {
        let okBtnClicked = $(event.target);
        let notificationClicked = okBtnClicked.closest(".one-notification").remove();
      }

      const completedNotification = function(obj) {
        return`<div class="one-notification">
               <div class="notification-text">
              <span>Hello!</span>
              <p>Your order <span>${obj.cartId}</span> Has been completed and its ready for pickup. See you soon!</p>
            </div>
            <footer>
              <button class="ok-btn">OK</button>
            </footer>
          </div>
         `
      }

      $(".notification").prepend(completedNotification(data));
    });

  </script>




=======
  <script src='/scripts/index.js'></script>
>>>>>>> master


</body>

</html>
